/* styles.css */

* {
  border: 2px solid red;
}

/* Why do this border box on the html?
Read more info here:
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/  */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #ffffcc;
  color: #1a001a;
  font-size: 100%;
  font-family: sans-serif;
}

h1 {
  font-family: "Georgia", serif;
  font-weight: 800;
  font-size: 2.5em;
  color: #660066;
}

.links {
  list-style-type: none;
}

a {
  color: #666666;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  height: auto;
  width: 350px;
}
